<div>
    <h2>Edit post</h2>
    <div class="div2">
        <textarea id="edit-post-title">
    {{posts.title}}
</textarea>
    </div>
    <div class="div2">
        <textarea id="edit-post-body">
        {{posts.body}}
    </textarea>
    </div>

<button id="edit-post-button" type="submit">Update Post</button>
<button id="delete-post-button" type="submit">Delete Post</button>
<a href="/dashboard"><h2>back</h2></a>
</div>
<script src="/js/editpost.js"></script>