<div>
    <h1> New Post</h1>
    <form class="divs">
        <h2>Title:</h2>
        <input id="title" type="textarea">
        <h2>description</h2>
        <input id="descript" type="textarea">
        <button id='newPosty' type="submit"><a href="/dashboard"></a>Submit</button>
    </form>

    <a href="/">Home</a>
</div>
<script src="/js/newpost.js"></script>