<div>
    <h1> SignUp </h1>
    <form class="divs" id="signup-form">
        <h4>Username:</h4>
        <input type="text" id="name-signup">
        <h4>Password:</h4>
         <input type="text" id="password-signup">
         <button type="submit">Submit</button>
    </form>
</div>
<script src="/js/signup.js"></script>